:root{
    --cor-hover: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu{
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
    gap: 16px;
    padding: 8px;
}

li{
    padding: 4px 8px;
    transition: 0.5s;
}

li:hover{
    background-color: var(--cor-hover);
}

.menu img{
    height: 16px;
}

.quadrados{
    display: flex;
    justify-content: end;
    gap: 4px;
    padding: 4px; 
}

.quadrados p{
    font-size: 15px;
}

.quadrados img{
    height: 350px;
    padding: 10px;
    display: flex;
    gap: 10px;
}